# main function
snippet main insert a main function
	int main(int argc, char* argv[]) {
		$0
	}

# comment
snippet co insert a comment
	/* $0 */

# bool type
snippet defbool define bool type
	typedef enum bool { false, true } bool;
