# bold text
snippet bo insert a bold text
	**$0**

# italic text
snippet ii insert a italic text
	_$0_

# inline code
snippet ic insert an inline code text
	\`$0\`

# todo
snippet to insert a todo
	- [ ] $0

# inline math
snippet ie insert an inline math equation
	$$0$

# omitted
snippet om insert an ommitted text
	_omitted._$0

# 1 / 2
snippet half insert 1 / 2
	\frac{1}{2}

# a / b
snippet fr insert frac
	\frac{$1}{$2}
