# emph
snippet em insert an emph text
	\emph{$0}

# bold text
snippet bo insert a bold text
	\textbf{$0}

# italic text
snippet ii insert a italic text
	\textit{$0}

# 1 / 2
snippet half insert 1 / 2
	\frac{1}{2}
